body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#player{
    margin-top: 50px;
}
button{
    padding: 10px;
    margin: 5px;
}
input{
    width: 200px;
}

.playing{
    color:lightgreen
}
#player {
    border  : 1px solid #ccc;
    padding : 20px;
    border-radius: 10px;
    display: inline-block;
    
}